# Hostinger MySQL / MariaDB Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_NAME=u365882270_IB_BlastingDB
DB_USER=u365882270_sa
DB_PASSWORD="YOUR_DATABASE_PASSWORD"
DB_PORT=3306
DB_CONNECTION_LIMIT=10

# API Server Port
API_PORT=3001
